<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Items</key>
	<array>
		<dict>
			<key>Image</key>
			<string>home_1.png</string>
			<key>Name</key>
			<string>Home</string>
			<key>level</key>
			<string>0</string>
			<key>Subitems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Shoes</string>
					<key>level</key>
					<integer>0</integer>
				</dict>
				<dict/>
				<dict/>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>mens.png</string>
			<key>Name</key>
			<string>Men</string>
			<key>level</key>
			<integer>0</integer>
			<key>SubItems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>SubItem 0</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Name</key>
					<string>SubItem 1</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>kid</string>
			<key>Name</key>
			<string>Kids</string>
			<key>level</key>
			<integer>0</integer>
			<key>SubItems</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Cloth</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Name</key>
					<string>Shoes</string>
					<key>level</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Image</key>
			<string>sport.png</string>
			<key>Name</key>
			<string>Sports</string>
			<key>level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Image</key>
			<string>home-fashiom.png</string>
			<key>Name</key>
			<string>Home Fshion</string>
			<key>level</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>brand.png</string>
			<key>Name</key>
			<string>brands</string>
			<key>level</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>new-in.png</string>
			<key>Name</key>
			<string>New in</string>
			<key>level</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>login.png</string>
			<key>Name</key>
			<string>Login</string>
			<key>level</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>share.png</string>
			<key>Name</key>
			<string>Share With Friend</string>
			<key>level</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>feedback.png</string>
			<key>Name</key>
			<string>Feedback</string>
		</dict>
		<dict>
			<key>Image</key>
			<string>rate.png</string>
			<key>Name</key>
			<string>Rate This App</string>
		</dict>
	</array>
</dict>
</plist>
